body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    /* background-color: #7386D5; */
    height: 100vh;
}
.container > .row  .card-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
.container > .row .card-box form {
    padding: 20px;
}
.container > .row .card-box form #register-link {
    margin-top: 0px;
    display:inline;
}
.container > .row .card-box form #register-link .btn-link{
    font-size:11px;

}

.logo_externo {
    width: 300px;
}

.login .container > .row .card-box {
    margin-top:0;
}


body {
    background-color: #e4e8e2 !important;
    background-repeat: repeat;
}
.text-info {
    color: #000 !important;
}
.btn-info {
    background-color: #ff9900 !important;
}
.btn-link {
    color: #4484ce !important;
}
#principal > h1 {
    // display:none;
}
.container > .row .card-box {
    background-color: #d9d9d9;
}

.logo-container,
.login-column {
    background-image:url('~/images/math-paper.jpg');
}

@media (max-width: 576px) {
    .login .container {
        background-image:url('~/images/math-paper.jpg');
    }
}
